h1 {
    color: red;
}

p {
    color: blue;
}

h2 {
    color: rebeccapurple;
    text-align: center;
    font-size: 50px;
}

/* comentários */

/* Classes e Ids */

.p-texto {
    color: lightblue;
}

#titulo-app {
    color: purple;
    font-size: 40px;
}

/*Cores no CSS*/

.nome {
    color: brown;

}

/* Aqui pode-se buscar no google como colorpicker hexadecimal e colocar o codigo.
.hexa */
.hexa {
    color: #e7c480;
    

}

.rgba {
    color: rgb(22, 122, 171)

}

/* backgrounds*/

.div-background {
    background-image: url('frio.png');
    height: 300px;
}

h1 {
    text-align: center;
}

.titulo-background {
    text-align: center;
    background-color: #000000;
    color: #fff;
}

.back {
    background-image: url('frio.png');
    height: 300px;
}

/* fontes */

.family {
    color: #000000;
    font-size: 40px;
        }

.serif {
    font-family: "times new roman";
}        

.sans-serif {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    
}

.monoscape {
    font-family:"Courier New";
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.bold {
    font-weight: bold;
}

.variant {
    font-variant: small-caps;
}

body {
    margin: 10;
}

.boxmodel {

    width: 200px;
    height: 200px;
    background-color: red;
    padding: 40px 20px;
    border: 3px solid blue;
    border-radius: 15px;
    margin: 50px;
    margin: 5px 10px 10px 7px;
}
